#image1{
    position: relative;
    top: 50%;
    width: 30vw;
    height: 30vw;
    overflow: hidden;
    border-radius: 50%;
    float: right;
}
#image1 img {
    width: 100%;
    height: auto;
    display: block;
}
#yt-video{
    display: block;
    margin: 10px auto;
    
}