.text-container {
    display: grid;
    grid-template-columns: 1fr 2fr auto;
    grid-template-rows: auto auto auto auto auto;
    gap:20px;
    
  }
.text-container h1{
    position: relative;
    top: 40%;
    vertical-align: text-bottom;
    text-align: center;
    grid-column: 2/4;
    font-size: 30px;
    grid-row: 1;
}
.text-container p{
    line-height: 1.6;
    margin: 10px;
    grid-column: 1/4;
    font-size: 30px;
    grid-row: 2;
    text-align: center;
    margin: 50px;
    border: 3px black dotted;
    border-radius: 20px;
    background-color: #eda6e0;
}
#friend{
    grid-column: 1;
    grid-row: 1;
}
#cupcake{
    grid-column: 3;
    grid-row: 3;
    width: 100%;
}
#video{
    grid-column: 2;
    grid-row:4;
    margin-bottom: 50px;
}
#links{
    position: relative;
    top: 20%;
    text-align: center;
    font-size: 35px;
    display: block;
    grid-column: 1/3;
    grid-row:3;
}
