.text-container {
    margin: auto;  
}
.text-container p{
    text-indent: 3em;
    position: relative;
    line-height: 1.6;
    margin: 1em;
    font-size: 40px;
    text-align: center;
    margin: 50px;
    border: 3px black dotted;
    border-radius: 20px;
    background-color: #eda6e0;
    clear: both;
}

.text-container h1{
    display: block;
    position: relative;
    text-align: center;
    font-size: 40px;
    margin-top: 12.5%;
}
#friend{
    width: 35vw;
    float: left;
    margin: 1em;
}
#video{
    position: relative;
    margin-bottom: 50px;
    margin-inline: 20px;
    left: 30vw;
    width: 40vw;
}
#links{
    position: relative;
    top: 20%;
    text-align: center;
    font-size: 35px;
    display: block;
}
