p{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    position: relative;
    overflow-x: hidden;
    background-color: #e5ffe3;
}
main{
    margin: 10px;
    min-height: 100vh;
}

.header-container{
    height: 100%;
    background-color: white;
    margin: 0;
}
header ul{
    margin: 0;
    padding: 16px;
}
.header-item{
    list-style-type: none;
    display: inline-block;
    margin: 10px;
}
.header-item a{
    text-decoration: none;
    color: black;
}
.header-item a:hover{
    color: purple;
}
.nav-container{
    text-align: center;
    overflow: hidden;
    background-color: #69ad58;
    border: 1px black dotted;
}
.nav-item{
    display: inline-block;
    list-style-type: none;
    font-size: 20px;
    padding: 0;
    margin: 10px;
}
.nav-item a{
    text-decoration: none;
    color:black;
}
.nav-item a:hover{
    color: #009a3b;
}
.text-container p{
    line-height: 1.6;
    margin: 10px;
    grid-column: 1/4;
    font-size: 30px;
    grid-row: 2;
    text-align: center;
    margin: 50px;
    border: 3px black dotted;
    border-radius: 20px;
    background-color: #eda6e0;
}
.footer-container{
    position: absolute;
    display: inline-block;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #69ad58;
    margin-bottom: -10px;
}
.footer-item{
    list-style-type: none;
    display: inline-block;
    margin: 10px;
}
.footer-item a{
    text-decoration: none;
    color: black;
}
.footer-item a:hover{
    color: purple;
}
